<header class="app-header">
    <div class="notification" (click)="toggleNotif($event)" #notifContainer>
        <i class="fas fa-bell notification-icon"></i>
        <span class="notif-name">Notifications</span>
        <div class="notif-popup" *ngIf="showNotif">
            <p class="notif-p">Recently Notifications</p>
            <div class="notif-divider"></div>
            <div class="notif-item">
                <i class="fas fa-user"></i>
                <span>User has submitted a performance review</span>
            </div>
        </div>
    </div>

    <div class="account-info" (click)="toggleAccount($event)" #accountContainer>
        <i class="fas fa-user account-icon"></i>
        <span class="account-name">User</span>
        <div class="account-popup" *ngIf="showAccount">
            <a (click)="openAccountSettings()">Account Settings</a>
            <a (click)="logout()">Logout</a>
        </div>
    </div>
</header>

<div class="body" [ngClass]="getBodyClass()">
    <router-outlet></router-outlet>
</div>
