.body{
    width: calc(100% - 5rem);
    height: 100%;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: white;
    padding: 3em;
    
}

.body-trimmed{
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen{
    width: calc(100% - 5rem);
    margin-left: 5rem;
}
.app-header {
    border: 1px solid #8690a3;
    background-color: white; /* Light background color */
    height: 55px;
    padding: 10px 20px; /* Padding for the header */
    display: flex; /* Use flexbox for layout */
    justify-content: flex-end; /* Align account info to the right */
    align-items: center; /* Center items vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: fixed; /* Fixed position */
    width: 100%; /* Full width */
    z-index: 1; /* Ensure it appears above other content */

}

.account-info {
    margin-right: 50px;
    display: flex; /* Use flexbox for account info */
    align-items: center; /* Center items vertically */
    cursor: pointer;
    position: relative;
}
.account-info:hover{
    color: #7c7c7c;
}

.account-icon {
    width: 30px; /* Icon size */
    height: 30px; /* Icon size */
    margin-top: 12px;
}

.account-popup a {
    display: block;
    padding: 8px 0;
    color: #000;
    text-decoration: none;


}

.account-popup a:hover {
    font-weight: 500;
}

.notification{
    margin-right: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.notification-icon {
    display: inline-block;
    width: 30px;
}

.notification-icon i {
    font-size: 20px;
    color: black;
}
.notification:hover{
    color: #7c7c7c;
}

.notif-popup, .account-popup {
    position: absolute;
    top: 60px; /* Adjust according to your header height */
    background-color: white;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px; /* Adjust width as needed */
    z-index: 1000;
    font-size: 14px;
    color: black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out; /* Smooth transition */
}
.notif-p{
    color: rgb(83, 83, 83);
}
.notif-divider {
    margin-top: -10px;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid #7a7979;
}

.notif-item i{
    margin-right: 10px;
}
.notif-item:hover{
    background-color: #f1f1f1;
}