<body>

    <div class="title">
        <img src="images/logo.png" alt="">
        <div class="text">
            <h1 >IT Squarehub</h1>
            <p>Building Quality Service Without Compromise</p>
        </div> 
    </div>

    <img src="images/logo.png" alt="Background Image" class="background-image">

    <div class="container" [class.active]="isRegisterMode">
        <div class="curved-shape"></div>
        <div class="curved-shape2"></div>
        


        
        <div class="form-box Login">
          <h2 class="animation" style="--D:0; --S:21">Login</h2>
          <form (ngSubmit)="onLogin()">
            <div class="input-box animation" style="--D:1; --S:22">
              <input id="username" type="text" required [(ngModel)]="loginForm.username" name="username" placeholder="Username">
              <label for="username">Username</label>
              
            </div>
      
            <div class="input-box animation" style="--D:2; --S:23">
              <input id="password" type="password" required [(ngModel)]="loginForm.password" name="password" placeholder="Password">
              <label for="password">Password</label>
              
            </div>
      
            <div class="input-box animation" style="--D:3; --S:24">
              <button class="btn" type="submit">Login</button>
            </div>
      
            <div class="regi-link animation" style="--D:4; --S:25">
              <p>Don't have an account? <br><a (click)="toggleMode()" class="SignUpLink">Sign Up</a></p>
            </div>
          </form>
        </div>
      

        <!-- LOGO & TITLE in Login-->
        <div class="info-content Login">
          <h2 class="animation" style="--D:0; --S:20">
            Performance Management System
          </h2>
        </div>
      







        <div class="form-box Register">
          <h2 class="animation" style="--li:17; --S:0">Register</h2>
          <form (ngSubmit)="onRegister()">
            <div class="input-box animation" style="--li:18; --S:1">
              <input id="username" type="text" required [(ngModel)]="registerForm.username" name="registerUsername" placeholder="Username">
              <label for="username">Username</label>
            </div>
      
            <div class="input-box animation" style="--li:19; --S:2">
              <input id="email" type="email" required [(ngModel)]="registerForm.email" name="email" placeholder="Email">
              <label for="email">Email</label>
            </div>
      
            <div class="input-box animation" style="--li:19; --S:3">
              <input id="password" type="password" required [(ngModel)]="registerForm.password" name="registerPassword" placeholder="Password">
              <label for="password">Password</label>
            </div>
      
            <div class="input-box animation" style="--li:20; --S:4">
              <button class="btn" type="submit">Register</button>
            </div>
      
            <div class="regi-link animation" style="--li:21; --S:5">
              <p>Already have an account? <br><a (click)="toggleMode()" class="SignInLink">Sign In</a></p>
            </div>
          </form>
        </div>
      

        <!-- LOGO & TITLE in Register -->
        <div class="info-content Register">
          <h2 class="animation" style="--D:0; --S:20">
            Performance Management System
          </h2>
        </div>
      </div>
      

</body>
