<form>

  <!-- Employee Details -------------------------------------------------------------------------------------------------->
  <div class="employee-details">
    <h6>Employee Details</h6>
    <div class="row">
      <div class="label">Review Year:</div>
      <div class="value">2021-2022</div>
      <div class="label">Start Date</div>
      <div class="value">February 1, 2021</div>
      <div class="label">End Date</div>
      <div class="value">February 28, 2021</div>
    </div>
    <div class="row">
      <div class="label">Employee</div>
      <div class="value">J-001</div>
      <div class="value">Sample Employee</div>
    </div>
    <div class="row">
      <div class="label">Supervisor</div>
      <div class="value">Sample Supervisor</div>
    </div>
  </div>

  <!-- Objectives ----------------------------------------------------------------------------------------------------------->
  <div class="objectives">
    <h6>Objectives</h6>
    <p>REPORTING YEAR: 2021-2022 This year our focus across the network is on enhancing safety and security of the
      operation, delivering on our customer's promises through service excellence, working smarter to improve our
      productivity and cost management, and providing learning and development opportunities so our people are fit for
      business. Please ensure this review supports this focus through setting relevant SMART objectives with your
      subordinate/colleague.</p>

    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Individual Goals</th>
          <th>Weight</th>
          <th>Employee Level</th>
          <th>Employee Comments</th>
          <th>Manager Level</th>
          <th>Manager Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Schedule Adherence</td>
          <td>30%</td>
          <td>Met and Sometimes Exceeds Expectations</td>
          <td></td>
          <td>Met and Sometimes Exceeds Expectations</td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Customer Complaints</td>
          <td>25%</td>
          <td>Met Expectations</td>
          <td></td>
          <td>Did Not Meet Expectations</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Lead Generation</td>
          <td>25%</td>
          <td>Met Expectations</td>
          <td></td>
          <td>Did Not Meet Expectations</td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Errors in Report</td>
          <td>10%</td>
          <td>Met Expectations</td>
          <td></td>
          <td>Met Expectations</td>
          <td></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Report Generation</td>
          <td>10%</td>
          <td>Met Expectations</td>
          <td></td>
          <td>Met Expectations</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2" class="total-label">Total</td>
          <td>100%</td>
        </tr>
      </tbody>
    </table>
  </div>



  <!-- Competency ----------------------------------------------------------------------------------------------------------->
  <div class="competencies">
    <h6>Competencies</h6>
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Competency</th>
          <th>Weight</th>
          <th>Employee Level</th>
          <th>Employee Comments</th>
          <th>Manager Level</th>
          <th>Manager Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Open to Opportunity</td>
          <td>25%</td>
          <td>Significant Strength</td>
          <td></td>
          <td>Development Needed</td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Business Thinking</td>
          <td>25%</td>
          <td>Significant Strength</td>
          <td></td>
          <td>Development Needed</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Open to Opportunity</td>
          <td>25%</td>
          <td>Significant Strength</td>
          <td></td>
          <td>Growing Strength</td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Providing Direction</td>
          <td>25%</td>
          <td>Significant Strength</td>
          <td></td>
          <td>Development Needed</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2" class="total-label">Total</td>
          <td>100%</td>

        </tr>
      </tbody>
    </table>
  </div>

  <!-- Overall Contribution Level ----------------------------------------------------------------------------------------------------------->
  <div class="container">
    <h6>Overall Contribution Level</h6>
    <table>
        <thead>
            <tr>
                <th colspan="2"></th>
                <th colspan="2">Employee</th>
                <th colspan="2">Managers</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Goal</td>
                <td>70%</td>
                <td>161</td>
                <td rowspan="3">Effective Contributor</td>
                <td>126</td>
                <td rowspan="3">Not Fully Contributing</td>
            </tr>
            <tr>
              <td>Competency</td>
              <td>30%</td>
              <td>90</td>
              <td>37.5</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>100%</td>
              <td>251</td>
              <td>163.5</td>
            </tr>
            <tr>
                <td colspan="2" class="calibration-comments">Calibration Comments</td>
                <td colspan="4"></td>
            </tr>
        </tbody>
    </table>

    <div class="agreement-section">
        <h6>Agreement to Review:</h6>
        <div class="signatures">
            <div>Employee</div>
            <div>Manager</div>
        </div>
    </div>

</div>

  <!-- --------------------------------------------------------------------------------------------------- -->
    
<div class="button-section">
  <button type="submit" class="submit">Submit</button>
  <button class="cancel" mat-button (click)="closeDialog()">Close</button>
</div>
  
</form>