.container {
    margin-top: 25px;
    border-radius: 15px;
    padding: 20px;
    width: 100%;   

}

.title-add {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h2 {
       position: relative;
    }
    
    button {
        background-image: linear-gradient(315deg, #00b8d4 0%, #ffffff  50%);
        color: black;
        border-radius: 16px;
        border: 0.5px solid black;
        width: 55px;
        height: 55px;
        cursor: pointer;
        transition: all 0.3s;

        mat-icon:hover{
            animation: iconRotate 0.5s linear;
        }
    }

    button:hover{
        transform: scale(1.1);

    }
    button:active{
        opacity: 0.7;
        transform: scale(0.9);
    }

}

@keyframes iconRotate {
    from { transform: rotate(360deg); }
}


table {
    width: 100%;
    background-color: white;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

table th {
    background-color: rgb(241, 241, 241);
    border: none;

}

table td {
    border-color: rgb(220, 220, 220);
}

table tr:hover{
    background-color: #f5f5f5;
}

table th:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
table th:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px;}

.edit-btn {
    color: #00215f;
  }
  
.delete-btn {
    color: #cf0000f8;
  }
.info-btn{
    color: #00b8d4;
}

/* Remove borders and background for action buttons */
.action-column button {
    border: none;
    background: none;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
}

/* Style the icons */
.action-column .mat-icon {
    font-size: 24px;
}

/* Add hover effect for icons */
.action-column button:hover .mat-icon {
    color: #007bff; /* Change this color to your desired hover color */
}

mat-paginator {
    background: white;  
}
.mat-elevation-z8{
    box-shadow: none;
}





/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

