
.title {
    color: #3b3b3b;
    text-align: center;
    font-size: 1.4em;
    padding-top: 20px;

    .fa-plus {
        transform: translateX(-12px);
    }
}



.employee {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 97%;
    position: relative;
    margin: 10px 15px 10px 15px;



    h6 {
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        gap: 5px;
        justify-content: space-between;

        .name-field {
            flex: 0 0 60%;
        }

        .review-year-field {
            flex: 0 0 40%;
        }

        .employee-field {
            flex: 0 0 60%;
        }

        .date-field {
            flex: 0 0 20%;
        }

        .supervisor-field {
            flex: 0 0 60%;
        }

        .active-supervisor-checkbox {
            flex: 0 0 40%;
        }

    }
}



.goals {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 97%;
    margin: 10px 15px 10px 15px;
    position: relative;

    h6 {
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        height: 400px;
        position: relative;

    }
    tr:first-child th:nth-child(1){
        width: 5%;
    }
    th, td {
        text-align: center;
    }
    table th {
        background-color: #f0f0f0;
        font-weight: bold;
    }
      
    table td {
        border: 1px solid #f0f0f0;
        text-align: center;
    }
    tbody input {
        outline: none;
        border: none;
        background: transparent;
        text-align: center;
        width: 100%;
        height: 100%;
         
    } 
    table thead tr{
        background-color: #f0f0f0;
    }
    table tbody tr{
        background-color: white;
    }
    /* table tbody tr:nth-child(even){
        background-color: #f0f0f0;
    } */

    table tbody td select{
        background: transparent;
    }

    thead  th:first-child {
        border-top-left-radius: 10px;
    }
    thead  th:last-child {
        border-top-right-radius: 10px;
    }
    tbody tr:last-child td:first-child{
        border-bottom-left-radius: 10px;
    }
    tbody tr:last-child td:last-child{
        border-bottom-right-radius: 10px;
    }
}






.competency {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 97%;
    margin: 10px 15px 10px 15px;
    position: relative;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 400px; /* Adjust the height as needed */

    table {
        width: 100%;
        height: 400px;
        position: relative;
    }
    h6 {
        margin-bottom: 20px;
    }
    tr:first-child th:nth-child(1){
        width: 5%;
        height: 50px;
    }
    th, td {
        text-align: center;
    }
    table th {
        background-color: #f0f0f0;
        font-weight: bold;
    }
      
    table td {
        border: 1px solid #f0f0f0;
        text-align: center;
    }

        tbody input {
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
            text-align: center;
            background: transparent;
        }

        tbody select option {
            text-align: center;
        }

        thead th:nth-child(3) {
            width: 10%;
        }

        thead th:nth-child(2) {
            width: 20%;
        }

        thead th:nth-child(4) {
            width: 20%;
        }

        thead th:last-child {
            width: 50%;
        }

        select {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
        }
        table thead tr{
            background-color: #f0f0f0;
        }
        table tbody tr{
            background-color: white;
        }
        /* table tbody tr:nth-child(even){
            background-color: #f0f0f0;
        } */

        table tbody td select{
            background: transparent;
        }

        thead  th:first-child {
            border-top-left-radius: 10px;
        }
        thead  th:last-child {
            border-top-right-radius: 10px;
        }
        tbody tr:last-child td:first-child{
            border-bottom-left-radius: 10px;
        }
        tbody tr:last-child td:last-child{
            border-bottom-right-radius: 10px;
        }
    
}


/* Buttons */

.navigation-buttons {
    width: 100%;
    height: 50px;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        height: 40px;
        width: 40px;
        cursor: pointer;
        background-color: rgb(225, 225, 225);
        border: none;
    }

    .left-button {
        border-bottom-left-radius: 20px;
    }
    .right-button {
        border-bottom-right-radius: 20px;
    }


}

/* Cofirmation Section Styles  */
.confirmation {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 97%;
    margin: 10px 15px 10px 15px;
    position: relative;
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.confirmation-section {
    margin-bottom: 20px;
}

.confirmation-section h6 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.confirmation-section p {
    margin: 5px 0;
}

.confirmation-section table {
    width: 100%;
    border-collapse: collapse;
}

.confirmation-section th, .confirmation-section td {
    border: 1px solid #f0f0f0;
    padding: 8px;
    text-align: center;
}

.confirmation-section th {
    background-color: #f0f0f0;
    font-weight: bold;
}






















