<!-- <h1 mat-dialog-title>Add Performance Review</h1> -->
<h5 class="title">Add Performance Review</h5>
<mat-dialog-content class="mat-typography">

  <form>
    <!-- ------------Employee-------------- -->
    <div class="employee">

      <h6>Employee Details</h6>

      <div class="row">
        <div class="input-box">
          <input class="text" type="text" required />
          <label>Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-box">
          <input class="review-year" type="number" id="startYear" name="startYear" min="2000" max="2050" step="1"
            placeholder="Start Year">
          <span class="hyphen"><strong>&mdash;</strong></span>
          <input class="review-year" type="number" id="endYear" name="endYear" min="2000" max="2050" step="1"
            placeholder="End Year">
          <!-- <input type="number" id="year" name="year" min="2000" max="2050" step="1"> -->
          <label class="date">Review Year</label>
        </div>

        <div class="input-box">
          <input class="text" type="date" required />
          <label class="date">Start Date</label>
        </div>

        <div class="input-box">
          <input class="text" type="date" required />
          <label class="date">End Date</label>
        </div>
      </div>

      <div class="row">
        <div class="input-box">
          <input class="text" type="text" required />
          <label>Employee</label>
        </div>
      </div>

      <div class="row">
        <div class="input-box">
          <input class="text" type="text" required />
          <label>Supervisor</label>
          <input class="check" type="checkbox">
        </div>
      </div>

    </div>

    <!-- ------------Goals-------------- -->
    <div class="goals">

      <h6>Goals</h6>

      <table>
        <thead>
          <tr>
            <th rowspan="2">No</th>
            <th rowspan="2">Individual Goals</th>
            <th rowspan="2">Weight</th>
            <th rowspan="2">Date</th>
            <th colspan="4">Measures</th>
          </tr>
          <tr>
            <th>4-Consistently Exceeds Expectations</th>
            <th>3-Met and Sometimes Exceeds Expectations</th>
            <th>2-Met Expectations</th>
            <th>1-Did Not Meet Expectations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>1</strong></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td><strong>2</strong></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td><strong>3</strong></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td><strong>4</strong></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td><strong>5</strong></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
          </tr>

        </tbody>
      </table>
    </div>

    <!-- ------------Competency-------------- -->
    <div class="competency">

      <h6>Competency</h6>

      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>Competencies</th>
            <th>Weight</th>
            <th>Level</th>
            <th >Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of selectedRows; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <select name="competency" id="competency" [(ngModel)]="selectedRows[i].selectedCompetency">
                <option *ngFor="let competency of getUniqueCompetencies()" [value]="competency">
                  {{ competency }}
                </option>
              </select>
            </td>
            <td><input type="text" /></td>
            <td>
              <select name="level" id="level" [(ngModel)]="selectedRows[i].selectedLevel">
                <option *ngFor="let level of getUniqueLevelsForCompetency()" [value]="level">
                  {{ level }}
                </option>
              </select>
            </td>
            <td>{{ getDescription(i) }}</td>
          </tr>
        </tbody>
      </table>

    </div>







  </form>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="cancel" mat-button mat-dialog-close>Cancel</button>
  <button class="add" mat-button [mat-dialog-close]="true" cdkFocusInitial>Add</button>
</mat-dialog-actions>












