

<div class="body" [ngClass]="{'body': !isAdminLogin, 'disabled-body': isAdminLogin}">
  
@if(!isAdminLogin) {
    <app-side-nav (onToggleSideNav)="onToggleSideNav($event)"></app-side-nav>
    <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>
}

@else {
  <app-login-signin></app-login-signin>
}
  
</div>










<!--   <div class="body" [ngClass]="{'body': !isAdminLogin, 'disabled-body': isAdminLogin}">
  
  <div *ngIf="!isAdminLogin">
    <app-side-nav (onToggleSideNav)="onToggleSideNav($event)"></app-side-nav>
    <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>
   
  </div>
  
  <div *ngIf = "isAdminLogin">
    <app-login-signin></app-login-signin>
  </div>
  
</div> -->


<!-- <app-login-signin></app-login-signin> -->
<!-- <app-side-nav></app-side-nav> -->
<!-- <app-dashboard></app-dashboard> -->



<!-- <nav>
  <a routerLink="/dashboard">Login</a>
</nav>
<router-outlet></router-outlet> -->
  <!-- <nav>
    <a routerLink="/login">Login</a>
  </nav>
  <router-outlet></router-outlet> -->

  <!-- <nav>
    <a routerLink="/dashboard">Login</a>
  </nav>
  <router-outlet></router-outlet> -->
