<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        
        <!-- Left Container -->
        <div class="container-left">
            <img src="images/logo.png" alt="">

            <h2>IT Squarehub</h2>
            <p>Building Quality Services Without Compromise</p>

            <h1>Performance Management System</h1>
        </div>
       
       
       
       
       
        
        
        <!-- Right Container -->
        <div class="container-right">
            
                    <div class="flip-card-inner" id="flip-card-inner">
                    
                        <div class="flip-card-front">
                            
                            <form #signInForm="ngForm" (ngSubmit)="onLogin(signInForm)">
                                <h2>Login</h2>
                                <input type="email" name="username" [(ngModel)]="loginObj.username"  placeholder="Username" required>
                                <div *ngIf="signInForm.submitted && signInForm.controls['username']"></div>

                                <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" required>
                                <div *ngIf="signInForm.submitted && signInForm.controls['password']"></div>
                                <button type="submit">Login</button>
                            </form>
                            
                            <div class="flip-section">
                                <p>Don't have an account?</p>
                                <a (click)="flipCard()">Sign Up</a>
                            </div>

                             
                            <div class="logo-contain">
                                <div class="logo">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                             
                        </div>
                    
                        <div class="flip-card-back">

                            <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
                                <h2>Sign Up</h2>

                                <input type="text" name="name" [(ngModel)]="signUpObj.name" placeholder="Admin Name" required>
                                <div *ngIf="registerForm.submitted && registerForm.controls['name']"></div>

                                <input type="email" name="username" [(ngModel)]="signUpObj.username" placeholder="Username" required>
                                <div *ngIf="registerForm.submitted && registerForm.controls['username']"></div>

                                <input type="password" name="password" [(ngModel)]="signUpObj.password" placeholder="Password" required>
                                <div *ngIf="registerForm.submitted && registerForm.controls['password']"></div>
                                <button type="submit">Sign Up</button>
                            </form>
                            

                            <div class="flip-section">
                                <p>Already have an account?</p>
                                <a (click)="flipCard()">Login</a>
                            </div>

                            <div class="logo-contain">
                                <div class="logo">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        
                        </div>
    
                    </div>

        </div>
        
            
    </div>

</body>
</html>
